# vim: foldmethod=expr
# See the foldexpr in ftplugin/gitconfig.vim as well as vim-sort-folds

# meta
[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot

# bin
[submodule "fzf"]
	path = .local/share/fzf-repo
	url = https://github.com/junegunn/fzf

# git
[submodule "diff-so-fancy"]
	path = .local/share/git/plugins/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
[submodule "git-filter-repo"]
	path = .local/share/git/plugins/git-filter-repo
	url = https://github.com/newren/git-filter-repo

# tmux
[submodule "tmux-continuum"]
	path = .local/share/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux-prefix-highlight"]
	path = .local/share/tmux/plugins/tmux-prefix-highlight
	url = https://github.com/druckdev/tmux-prefix-highlight
[submodule "tmux-resurrect"]
	path = .local/share/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux-sensible"]
	path = .local/share/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tpm"]
	path = .local/share/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim-tmux-navigator"]
	path = .local/share/tmux/plugins/vim-tmux-navigator
	url = https://github.com/druckdev/vim-tmux-navigator

# vim
[submodule "Colorizer"]
	path = .local/share/vim/pack/plugins/opt/Colorizer
	url = https://github.com/chrisbra/Colorizer
[submodule "arm-syntax-vim"]
	path = .local/share/vim/pack/plugins/opt/arm-syntax-vim
	url = https://github.com/ARM9/arm-syntax-vim
[submodule "coc.nvim"]
	path = .local/share/vim/pack/plugins/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "cocci-syntax"]
	path = .local/share/vim/pack/plugins/opt/cocci-syntax
	url = https://github.com/ahf/cocci-syntax
[submodule "delimitMate"]
	path = .local/share/vim/pack/plugins/opt/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "fzf.vim"]
	path = .local/share/vim/pack/plugins/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "markdown-preview.nvim"]
	path = .local/share/vim/pack/plugins/opt/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "onedark.vim"]
	path = .local/share/vim/pack/plugins/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "vim-fugitive"]
	path = .local/share/vim/pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-gitgutter"]
	path = .local/share/vim/pack/plugins/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-gutentags"]
	path = .local/share/vim/pack/plugins/opt/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "vim-lastplace"]
	path = .local/share/vim/pack/plugins/opt/vim-lastplace
	url = https://github.com/farmergreg/vim-lastplace
[submodule "vim-obsession"]
	path = .local/share/vim/pack/plugins/opt/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "vim-sort-folds"]
	path = .local/share/vim/pack/plugins/opt/vim-sort-folds
	url = https://github.com/obreitwi/vim-sort-folds
[submodule "vim-surround"]
	path = .local/share/vim/pack/plugins/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-syntax-extra"]
	path = .local/share/vim/pack/plugins/opt/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra
[submodule "vim-textobj-comment"]
	path = .local/share/vim/pack/plugins/opt/vim-textobj-comment
	url = https://github.com/glts/vim-textobj-comment
[submodule "vim-textobj-user"]
	path = .local/share/vim/pack/plugins/opt/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vimtex"]
	path = .local/share/vim/pack/plugins/opt/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vimwiki"]
	path = .local/share/vim/pack/plugins/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki

# zsh
[submodule "fzf-tab"]
	path = .local/share/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "powerlevel10k"]
	path = .local/share/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "stderred"]
	path = .local/share/zsh/plugins/stderred
	url = https://github.com/sickill/stderred
[submodule "zsh-autosuggestions"]
	path = .local/share/zsh/plugins/zsh-autosuggestions
	url = https://github.com/druckdev/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = .local/share/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
