[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".config/tmux/plugins/tmux-continuum"]
	path = .config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule ".config/tmux/plugins/tmux-prefix-highlight"]
	path = .config/tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight
[submodule ".config/tmux/plugins/tmux-resurrect"]
	path = .config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".config/tmux/plugins/tmux-sensible"]
	path = .config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/vim/plugged/coc.nvim"]
	path = .config/vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".config/vim/plugged/vim-gitgutter"]
	path = .config/vim/plugged/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".config/zsh/plugins/fzf"]
	path = .config/zsh/plugins/fzf
	url = https://github.com/junegunn/fzf
[submodule ".config/zsh/plugins/fzf-tab"]
	path = .config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".config/zsh/plugins/powerlevel10k"]
	path = .config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".config/zsh/plugins/stderred"]
	path = .config/zsh/plugins/stderred
	url = https://github.com/sickill/stderred
[submodule ".config/zsh/plugins/zsh-async"]
	path = .config/zsh/plugins/zsh-async
	url = https://github.com/mafredri/zsh-async
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
